name: cmake

on:
  push:
    paths: ["/CMakeLists.txt", "**/CMakeLists.txt", "include/**", "libstudy/**", "po/**", "pthreads/**", "src/**", "tests/**", ".github/workflows/**"]
  pull_request:

  # Sample when vcpkg is a submodule of your repository (highly recommended!)

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: "recursive"
      - name: Setup MOK keys
        run: |
          mkdir -p $HOME/.local/share/kernel-keys/
          echo "${{ secrets.MOK_PRIV }}" > $HOME/.local/share/kernel-keys/MOK.priv
          chmod 600 $HOME/.local/share/kernel-keys/MOK.priv
      - name: apt update
        run: sudo apt update
      - name: Install dependents
        run: sudo apt install --no-install-recommends --no-install-suggests ninja-build autopoint libcurl4-gnutls-dev libgmp-dev libsodium-dev libupnp-dev libxmlrpc-core-c3-dev uuid-dev libcunit1-dev libjson-c-dev libtommath-dev libtomcrypt-dev mingw-w64 gettext libjsonrpc-glib-1.0-dev opencl-c-headers ocl-icd-opencl-dev pocl-opencl-icd libgnutls28-dev libjpeg9-dev libpng-dev libpari-dev libomp-dev
      - name: Configuration
        run: |
          mkdir build
          cmake . -G Ninja -B build -DCMAKE_BUILD_TYPE=Debug -DENABLE_CUDA=OFF -DMOK_PRIV=$HOME/.local/share/kernel-keys/MOK.priv
      - name: build
        run: ninja -C build
      - name: test
        run: ninja -C build test
