name: cuda

on:
  push:
    paths: ["/CMakeLists.txt", "include/**", "libstudy/**", "po/**", "pthreads/**", "src/**", "tests/**", ".github/workflows/**"]
  pull_request:

  # Sample when vcpkg is a submodule of your repository (highly recommended!)

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: "recursive"
      - name: apt update
        run: sudo apt update
      - uses: Jimver/cuda-toolkit@v0.2.5
        id: cuda-toolkit
        with:
          cuda: '11.5.1'
      - run: 'echo "Installed cuda version is: ${{steps.cuda-toolkit.outputs.cuda}}"'
      - run: 'echo "Cuda install location: ${{steps.cuda-toolkit.outputs.CUDA_PATH}}"'
      - run: nvcc -V
      - name: Install dependents
        run: sudo apt install --no-install-recommends --no-install-suggests ninja-build autopoint libcurl4-gnutls-dev libgmp-dev libsodium-dev libupnp-dev libxmlrpc-core-c3-dev uuid-dev libcunit1-dev libjson-c-dev libtommath-dev libtomcrypt-dev mingw-w64 gettext libjsonrpc-glib-1.0-dev opencl-c-headers libgnutls28-dev
      - name: Configuration
        run: cmake . -G Ninja -B build
      - name: build
        run: ninja -j 0 -C build
